#include "ext/ext-embed/xincbin.h"
XINCBIN(__files_in_this_folder_are_embedded_automatically, "C:/prj/v3/docs/embed/; files in this folder are embedded automatically") 
XINCBIN(test_txt, "C:/prj/v3/docs/embed/test.txt") 
XINCBIN(shaderlib_brdf_glsl, "C:/prj/v3/todo/render/embed/shaderlib/brdf.glsl") 
XINCBIN(shaderlib_compat_glsl, "C:/prj/v3/todo/render/embed/shaderlib/compat.glsl") 
XINCBIN(shaderlib_fog_glsl, "C:/prj/v3/todo/render/embed/shaderlib/fog.glsl") 
XINCBIN(shaderlib_light_glsl, "C:/prj/v3/todo/render/embed/shaderlib/light.glsl") 
XINCBIN(shaderlib_model_fs_glsl, "C:/prj/v3/todo/render/embed/shaderlib/model_fs.glsl") 
XINCBIN(shaderlib_model_vs_glsl, "C:/prj/v3/todo/render/embed/shaderlib/model_vs.glsl") 
XINCBIN(shaderlib_parallax_glsl, "C:/prj/v3/todo/render/embed/shaderlib/parallax.glsl") 
XINCBIN(shaderlib_rimlight_glsl, "C:/prj/v3/todo/render/embed/shaderlib/rimlight.glsl") 
XINCBIN(shaderlib_shadowmap_glsl, "C:/prj/v3/todo/render/embed/shaderlib/shadowmap.glsl") 
XINCBIN(shaderlib_surface_glsl, "C:/prj/v3/todo/render/embed/shaderlib/surface.glsl") 
XINCBIN(shaderlib_utils_glsl, "C:/prj/v3/todo/render/embed/shaderlib/utils.glsl") 
XINCBIN(shaders_brdf_lut_glsl, "C:/prj/v3/todo/render/embed/shaders/brdf_lut.glsl") 
XINCBIN(shaders_cubemap_sh_glsl, "C:/prj/v3/todo/render/embed/shaders/cubemap_sh.glsl") 
XINCBIN(shaders_font_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/font_fs.glsl") 
XINCBIN(shaders_font_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/font_vs.glsl") 
XINCBIN(shaders_fullscreen_quad_A_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/fullscreen_quad_A_vs.glsl") 
XINCBIN(shaders_fullscreen_quad_B_flipped_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/fullscreen_quad_B_flipped_vs.glsl") 
XINCBIN(shaders_fullscreen_quad_B_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/fullscreen_quad_B_vs.glsl") 
XINCBIN(shaders_header_shadertoy_glsl, "C:/prj/v3/todo/render/embed/shaders/header_shadertoy.glsl") 
XINCBIN(shaders_model_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/model_fs.glsl") 
XINCBIN(shaders_model_material_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/model_material_fs.glsl") 
XINCBIN(shaders_model_pick_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/model_pick_fs.glsl") 
XINCBIN(shaders_model_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/model_vs.glsl") 
XINCBIN(shaders_preamble_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/preamble_fs.glsl") 
XINCBIN(shaders_query_point_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/query_point_fs.glsl") 
XINCBIN(shaders_query_point_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/query_point_vs.glsl") 
XINCBIN(shaders_rect2d_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/rect2d_fs.glsl") 
XINCBIN(shaders_rect2d_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/rect2d_vs.glsl") 
XINCBIN(shaders_shadertoy_flip_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/shadertoy_flip_vs.glsl") 
XINCBIN(shaders_shadertoy_main_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/shadertoy_main_fs.glsl") 
XINCBIN(shaders_shadertoy_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/shadertoy_vs.glsl") 
XINCBIN(shaders_shadow_pass_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/shadow_pass_fs.glsl") 
XINCBIN(shaders_skybox_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/skybox_fs.glsl") 
XINCBIN(shaders_skybox_rayleigh_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/skybox_rayleigh_fs.glsl") 
XINCBIN(shaders_skybox_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/skybox_vs.glsl") 
XINCBIN(shaders_sprite_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/sprite_fs.glsl") 
XINCBIN(shaders_sprite_vs_glsl, "C:/prj/v3/todo/render/embed/shaders/sprite_vs.glsl") 
XINCBIN(shaders_texel_inv_gamma_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/texel_inv_gamma_fs.glsl") 
XINCBIN(shaders_texel_ycbr_gamma_saturation_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/texel_ycbr_gamma_saturation_fs.glsl") 
XINCBIN(shaders_texel_y_gamma_saturation_fs_glsl, "C:/prj/v3/todo/render/embed/shaders/texel_y_gamma_saturation_fs.glsl") 
XINCBIN(shadertoys_LICENSE_txt, "C:/prj/v3/todo/render/embed/shadertoys/LICENSE.txt") 
XINCBIN(shadertoys_noise16_png, "C:/prj/v3/todo/render/embed/shadertoys/noise16.png") 
XINCBIN(shadertoys_noise3_png, "C:/prj/v3/todo/render/embed/shadertoys/noise3.png") 
XINCBIN(shadertoys_tex00_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex00.jpg") 
XINCBIN(shadertoys_tex01_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex01.jpg") 
XINCBIN(shadertoys_tex02_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex02.jpg") 
XINCBIN(shadertoys_tex03_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex03.jpg") 
XINCBIN(shadertoys_tex04_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex04.jpg") 
XINCBIN(shadertoys_tex05_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex05.jpg") 
XINCBIN(shadertoys_tex06_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex06.jpg") 
XINCBIN(shadertoys_tex07_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex07.jpg") 
XINCBIN(shadertoys_tex08_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex08.jpg") 
XINCBIN(shadertoys_tex09_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex09.jpg") 
XINCBIN(shadertoys_tex10_png, "C:/prj/v3/todo/render/embed/shadertoys/tex10.png") 
XINCBIN(shadertoys_tex11_png, "C:/prj/v3/todo/render/embed/shadertoys/tex11.png") 
XINCBIN(shadertoys_tex12_png, "C:/prj/v3/todo/render/embed/shadertoys/tex12.png") 
XINCBIN(shadertoys_tex13_png, "C:/prj/v3/todo/render/embed/shadertoys/tex13.png") 
XINCBIN(shadertoys_tex14_png, "C:/prj/v3/todo/render/embed/shadertoys/tex14.png") 
XINCBIN(shadertoys_tex15_png, "C:/prj/v3/todo/render/embed/shadertoys/tex15.png") 
XINCBIN(shadertoys_tex16_png, "C:/prj/v3/todo/render/embed/shadertoys/tex16.png") 
XINCBIN(shadertoys_tex17_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex17.jpg") 
XINCBIN(shadertoys_tex18_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex18.jpg") 
XINCBIN(shadertoys_tex19_png, "C:/prj/v3/todo/render/embed/shadertoys/tex19.png") 
XINCBIN(shadertoys_tex20_jpg, "C:/prj/v3/todo/render/embed/shadertoys/tex20.jpg") 
XINCBIN(B612_license, "C:/prj/v3/todo/_ext-lua/game/embed/B612.license") 
XINCBIN(B612BoldItalic_ttf, "C:/prj/v3/todo/_ext-lua/game/embed/B612BoldItalic.ttf") 
XINCBIN(B612Regular_ttf, "C:/prj/v3/todo/_ext-lua/game/embed/B612Regular.ttf") 
XINCBIN(MaterialSymbols_license, "C:/prj/v3/todo/_ext-lua/game/embed/MaterialSymbols.license") 
XINCBIN(MaterialSymbolsRounded_28pt_Regular_ttf, "C:/prj/v3/todo/_ext-lua/game/embed/MaterialSymbolsRounded_28pt-Regular.ttf") 
